#stationMap 
{   
    position: fixed;
    height: 75vh;
    width: 100%;
    left: 0;
    z-index: 0; 
    transition: 0.5s;
}
#archiveDiv
{
    position: fixed;
    overflow: hidden;
    height: 75vh;
    width: 0%;
    z-index: 0;
    left: 0;
    transition: 0.5s;
    background-color: white;
}
#statusDiv
{
    position: fixed;
    overflow: hidden;
    height: 75vh;
    width: 0%;
    left: 0;
    z-index: 0;
    transition: 0.5s;
    background-color: white;
}
#sysThreeEx {
    float: left;
}
.header {
    padding-left: 20px;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
}

/* Styling Menu */
ul {
    position: absolute;
    top: 14px;
    right: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: right;
}
li a {
    display: block;
    text-align: center;
    color: grey;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    color: white;
}

/*Styling Footer */
.footer {
    color: white;
    background-color: purple;
}
body {
    background-color: black;
    margin: 0px;
}
